  <div class="flex items-center justify-between py-1">
    <%= link_to channel do %>
      <div class="flex items-center gap-2">
        <i class="w-4 text-center <%= channel.private ? 'fa-solid fa-lock' : 'fa-solid fa-hashtag' %>"></i>
        <span class="grow"><%= channel.name %></span>
      </div>
    <% end %>
    <% unless current_user.channels.include?(channel) %>
      <%= form_with url: channel_memberships_path(channel) do |f| %>
        <%= f.button do %>
          <i class="fas fa-user-plus"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
