<%= render 'shared/modal', modal_title: "Channels" do %>
  <div class="max-h-full flex flex-col overflow-hidden gap-4">
    <%= render 'form' %>
    <div class="max-h-full overflow-y-auto">
      <% if @channels&.none? %>
        <p>No channels with name <em><%= params[:name] %></em> found.</p>
      <% else %>
        <% @channels&.each do |channel| %>
          <%= render channel %>
        <% end %>
      <% end %>
      <% if @channel.valid? %>
        <%= form_with model: @channel do |f| %>
          <%= f.hidden_field :name, value: @channel.name %>
          <%= f.submit "Create ##{@channel&.name}", class: 'font-bold text-slack cursor-pointer' %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
