<%= turbo_frame_tag :content do %>
  <div class="flex gap-2 font-bold px-4 shadow-line-left shadow-gray-200 w-full h-12 shrink-0 items-center justify-center">
    <span class="grow"><%= render @channel %></span>
  </div>
  <div class="grow shrink shadow-line-left shadow-gray-200 w-full overflow-y-auto">
    <%= turbo_stream_from(@channel) %>
    <%= turbo_frame_tag :posts do %>
      <% @posts.each do |post| %>
        <%= render post %>
      <% end %>
    <% end %>
  </div>
  <%= turbo_frame_tag :new_post, class: "m-4 border-2 rounded-xl shrink-0 overflow-hidden" do %>
    <%= render 'posts/form', channel: @channel, post: @post %>
  <% end %>
<% end %>
