<div id="left" class='w-52 bg-slack text-white text-sm shadow-line-left shadow-slack-extra-light flex flex-col overflow-y-auto h-full flex-shrink-0'>
  <div class="font-bold px-4 shadow-line-left shadow-slack-extra-light w-full h-12 flex items-center justify-between gap-4 shrink-0">
    <%= link_to root_path do %>
      <div class="w-full text-ellipsis overflow-hidden whitespace-nowrap">Turbo Slack Clone</div>
    <% end %>
    <%= link_to new_channel_path, class: "rounded-full bg-white p-2 text-slack flex items-center justify-center text-sm" do %>
      <i class="fa-regular fa-pen-to-square"></i>
    <% end %>
  </div>
  <div class="text-sm px-4 py-2 shadow-line-left shadow-slack-extra-light w-full text-white/70">
    <% {'Threads' => 'fa-regular fa-comment-dots', 'Direct messages' => 'fa-regular fa-comment-dots', 'Drafts & sent' => 'fa-regular fa-paper-plane', 'Saved items' => 'fa-regular fa-bookmark', 'More' => 'fa-solid fa-ellipsis-vertical'}.each do |text, icon| %>
      <div class="flex items-center py-1">
        <i class="<%= "mr-2 w-4 text-center #{icon}" %>"></i>
        <span class="grow"><%= text %></span>
      </div>
    <% end %>
  </div>
  <div id='channels' class='text-sm px-4 py-2 shadow-line-left shadow-slack-extra-light w-full text-white/70'>
    <% @channels.each do |channel| %>
      <%= render channel %>
    <% end %>
  </div>
</div>
