<div class="h-full flex flex-col">
  <%= render 'top' %>
  <div class="flex grow overflow-hidden">
    <%#= render 'far_left' %>
    <%= render 'left', channels: @channels || [] %>
    <div class="h-full grow flex flex-col shadow-line-left shadow-gray-200">
      <%= render 'content' %>
      <%= render 'bottom' %>
    </div>
    <%= render 'right' %>
  </div>
</div>
