<div id=<%= dom_id post %> class="flex w-full px-4 py-2 hover:bg-gray-100 relative group" data-controller="autoscroll">
  <%= user_avatar(user_image: post.user.image_url, avatar_size: 'h-10 w-10') %>
  <turbo-frame id=<%= dom_id(post, :content)%> class="pl-2 grow max-w-full overflow-hidden">
    <span class="mr-2 font-bold"><%= post.user.display_name %></span>
    <span class="text-xs text-gray-400"><%= post.created_at.strftime("%l:%M%p") %></span>
    <div class="text-sm">
      <%= post.content %>
      <span class="text-xs text-gray-400"><%= '(edited)' if post.edited? %></span>
    </div>
    <div class="hidden group-hover:block absolute right-2 top-2 bg-white rounded border px-2">
      <div class="flex">
        <%= link_to edit_post_path(post),
                    class: 'opacity-50 hover:opacity-100 hover:text-slack p-2' do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= link_to post_path(post),
                    class: 'opacity-50 hover:opacity-100 hover:text-slack p-2',
                    data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this post?' } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <% if post.postable.instance_of?(Channel) %>
          <%= link_to post_path(post),
                      class: 'opacity-50 hover:opacity-100 hover:text-slack p-2',
                      data: { turbo_frame: :right, turbo_action: :advance } do %>
          <i class="far fa-comment-dots"></i>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= replies_link post  if @show_replies && post.replies.any? %>
  </turbo-frame>
</div>
