<div id=<%= post.id %> class="flex w-full px-4 py-2 hover:bg-gray-100">
  <%= render 'components/atoms/user_avatar', avatar_size: 'h-10 w-10', user_img: post.user.image_url %>
  <div class="pl-2">
    <span class="mr-2 font-bold"><%= post.user.display_name %></span>
    <span class="text-xs text-gray-400"><%= post.created_at.strftime("%l:%M%p") %></span>
    <div class="text-sm">
      <%= post.content %>
    </div>
  </div>
</div>
